# keys
private-keys
react-bqbl-fe/.env

# deliberately-private
private

# misc
*.txt
*~
.#*
\#*
__pycache__
events/BQBL-2c621a7cef1f.json
sandbox/*
react-bqbl-fe/.eslintrc.js
.DS_Store
.firebase/hosting.cmVhY3QtYnFibC1mZS9idWlsZA.cache
.firebase/hosting.cHVibGlj.cache
firebase-debug.log

# build
web3/dist

# functions
functions/node_modules/*
functions/firebase-debug.log
functions/database-debug.log
functions/ui-debug.log
.DS_Store
