/* You can add global styles to this file, and also import other style files */

/* Fix card subtitle layout. See
 * https://github.com/google/material-design-lite/issues/1002 */

.mdl-card__title {
  flex-direction: column;
  justify-content: flex-end;
}

.mdl-card__title-text, .mdl-card__subtitle-text {
  align-self: flex-start;
}
