.team {
  display: inline-block;
}

.id {
  min-width: 4em;
  font-weight: bold;
  display: inline-block;
}

.selected {
  background: lightblue;
}

.MuiTableCell-sizeSmall {
padding: 6px !important;
}