<mdl-tabs mdl-ripple mdl-tab-active-index="0">

<mdl-tab-panel>
 <mdl-tab-panel-title>24/7 Points</mdl-tab-panel-title>
 <mdl-tab-panel-content>
  <table-247 [entries]="points247 | async"></table-247>
  <button #add247button
          mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple
          (click)="add247dialog.show()">
   Add
  </button>
 </mdl-tab-panel-content>
</mdl-tab-panel>

<mdl-tab-panel>
  <mdl-tab-panel-title>Lock Weeks</mdl-tab-panel-title>
  <mdl-tab-panel-content>
    <div *ngFor="let week of unlockedWeeks|async">
      <!-- Using mdl-ripple here causes a bug where clicking Week N for the
      first time causes the Week N+1 switch to receive the click. Dunno why. -->
      <mdl-switch #locked
                  [ngModel]="week.$value"
                  (click)="changeWeek(week.$key.toString(), locked.value)">
        Week {{week.$key}}
      </mdl-switch>
    </div>
  </mdl-tab-panel-content>
</mdl-tab-panel>

<mdl-tab-panel>
 <mdl-tab-panel-title>Create League</mdl-tab-panel-title>
 <mdl-tab-panel-content>
  <mdl-textfield type="text" label="League name" floating-label
                 [(ngModel)]="leagueName">
  </mdl-textfield>
  <table>
   <thead>
    <tr class=head>
     <td class=week style="min-width:5em">Name</td><td class=team>Team</td><td class=team>Team</td><td class=team>Team</td><td class=team>Team</td>
    </tr>
   </thead>
   <tbody>
   <tr *ngFor="let user of users; let i = index">
    <td>Team {{i}}</td>
    <td *ngFor="let team of user; let j = index">
     <input type="text" placeholder="NYJ" name=team{{i}}{{j}} [(ngModel)]="users[i][j].name" (change)=onChange()>
    </td>
   </tr>
   </tbody>
  </table>

  <div>
   <mdl-checkbox [mdl-ripple]="true" [(ngModel)]="hasDh">
    League has a DH
   </mdl-checkbox>
   <mdl-textfield type="number" label="Max plays" floating-label
                  min="1" step="1" error-msg="Must be a positive integer"
                  maxlength="3"
                  [(ngModel)]="maxPlays">
   </mdl-textfield>
  </div>

  <div>
   <button mdl-button mdl-button-type="raised" mdl-colored="accent" (click)="onCreateLeague()">
    Create
   </button>
  </div>
 </mdl-tab-panel-content>
</mdl-tab-panel>

</mdl-tabs>

<mdl-dialog #add247dialog
            [mdl-dialog-config]="{
              clickOutsideToClose: true,
              styles:{'width': '300px'},
              isModal:true,
              openFrom: add247button,
              enterTransitionDuration: 400,
              leaveTransitionDuration: 400}">
  <h3 class="mdl-dialog__title">Add 24/7 Points</h3>
  <div class="mdl-dialog__content">
   <mdl-textfield #week type="text" label="Week" floating-label autofocus>
   </mdl-textfield>
   <mdl-textfield #team type="text" label="Team" floating-label autofocus>
   </mdl-textfield>
   <mdl-textfield #points type="number" label="Points" floating-label
                  min="1" step="1" error-msg="Must be a positive integer"
                  maxlength="3">
   </mdl-textfield>
   <mdl-textfield #desc type="text" label="Description" floating-label>
   </mdl-textfield>
   <mdl-textfield #url type="text" label="URL citation" floating-label>
   </mdl-textfield>
  </div>
  <div class="mdl-dialog__actions">
   <button mdl-button
           (click)="onAdd247()"
           mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
    Save
   </button>
   <button mdl-button (click)="close247Dialog()" mdl-ripple>
    Cancel
   </button>
  </div>
</mdl-dialog>
