<mdl-tabs mdl-ripple mdl-tab-active-index="0">
<mdl-tab-panel>
  <mdl-tab-panel-title>
  <span>Create League</span>
 </mdl-tab-panel-title>
 <mdl-tab-panel-content>
  <input type="text" placeholder="League name" [(ngModel)]=leagueName>
  <table>
   <thead>
    <tr class=head>
     <td class=week style="min-width:5em">Name</td><td class=team>Team</td><td class=team>Team</td><td class=team>Team</td><td class=team>Team</td>
    </tr>
   </thead>
   <tbody>
   <tr *ngFor="let user of users; let i = index">
    <td>Team {{i}}</td>
    <td *ngFor="let team of user; let j = index">
     <input type="text" placeholder="NYJ" name=team{{i}}{{j}} [(ngModel)]="users[i][j].name" (change)=onChange()>
    </td> 
   </tr>
   </tbody>
  </table>

  <mdl-checkbox  [mdl-ripple]="true" [(ngModel)]="hasDh">League has a DH</mdl-checkbox>

 <button mdl-button mdl-button-type="raised" mdl-colored="accent" (click)="onCreateLeague()">
    Create
  </button>
 </mdl-tab-panel-content>
</mdl-tab-panel>
</mdl-tabs>
