<!-- Always shows a header, even in smaller screens. -->
<div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">BQBL</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <select [(ngModel)]="selectedWeek"
          (change)="onWeekChange()"
          *ngIf="!suppressWeekDropdown"
          class=weekdropdown>
        <option *ngFor="let w of allWeeks" [ngValue]="w.val">{{w.name}}</option>
      </select>
      <a class="mdl-navigation__link" (click)=login()><span>{{displayName}}</span></a>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" routerLink="/lineup" routerLinkActive="active"
      (click)=closeDrawer()>Lineup</a>
      <a class="mdl-navigation__link" routerLink="/probowl" routerLinkActive="active"
      (click)=closeDrawer()><b>PRO BOWL</b></a>
      <a class="mdl-navigation__link" routerLink="/antiscores" routerLinkActive="active"
      (click)=closeDrawer()>Anti-BQBL Scores</a>
      <a class="mdl-navigation__link" routerLink="/scores" routerLinkActive="active"
      (click)=closeDrawer()>BQBL Scores</a>
      <a class="mdl-navigation__link" routerLink="/standings" routerLinkActive="active"
      (click)=closeDrawer()>BQBL Standings</a>
      <a class="mdl-navigation__link" routerLink="/nflscores" routerLinkActive="active"
      (click)=closeDrawer()>NFL Scores</a>
      <a class="mdl-navigation__link" routerLink="/nflstandings" routerLinkActive="active"
      (click)=closeDrawer()>NFL Standings</a>
      <a class="mdl-navigation__link" routerLink="/ticker" routerLinkActive="active"
      (click)=closeDrawer() title="ＷＨＡＴ ＴＩＣＫＩＮＧ？">Red Zone Ticker</a>
      <a class="mdl-navigation__link" routerLink="/console" routerLinkActive="active"
      (click)=closeDrawer()>Game Event Console</a>
      <a class="mdl-navigation__link" routerLink="/admin" routerLinkActive="active"
      (click)=closeDrawer()>Admin Console</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <!-- Your content goes here -->
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
