<mdl-tabs mdl-ripple mdl-tab-active-index="0" 
(mdl-tab-active-changed)="tabChanged($event)">
<mdl-tab-panel>
  <mdl-tab-panel-title>
    <span>Benchings</span>
  </mdl-tab-panel-title>
  <mdl-tab-panel-content>
    
    <ul>
     <li class="mdl-list__item" *ngFor="let benching of benchings | async">
      <span class="mdl-list__item-primary-content">
       {{benching.$key}}
     </span>
     <span class="mdl-list__item-secondary-action">
       <input type="checkbox" class="mdl-checkbox__input" (click)="onClick(benching)" 
       [checked]="benching.$value">
     </span>
   </li>
 </ul>

</mdl-tab-panel-content>
</mdl-tab-panel>
<mdl-tab-panel mdl-tab-panel-title="Safeties">
 <ul>
  TODO
</ul>
</mdl-tab-panel>
</mdl-tabs>


