<mdl-tabs mdl-ripple mdl-tab-active-index="0"
(mdl-tab-active-changed)="tabChanged($event)">
<mdl-tab-panel>
  <mdl-tab-panel-title>
    <span>Benchings</span>
  </mdl-tab-panel-title>
  <mdl-tab-panel-content>
    <mdl-list>
      <mdl-list-item *ngFor="let benching of benchings | async">
        <mdl-list-item-primary-content>
          <mdl-icon mdl-list-item-avatar>person</mdl-icon>
          {{benching.$key}}
        </mdl-list-item-primary-content>
        <mdl-list-item-secondary-action>
         <input type="checkbox" class="mdl-checkbox__input"
         (click)="onBenchingClick(benching)"
         [checked]="benching.$value">
       </mdl-list-item-secondary-action>
     </mdl-list-item>
   </mdl-list>
 </mdl-tab-panel-content>
</mdl-tab-panel>
<mdl-tab-panel mdl-tab-panel-title="Safeties">
    <mdl-list>
      <mdl-list-item *ngFor="let safety of safeties | async">
        <mdl-list-item-primary-content>
          <mdl-icon mdl-list-item-avatar>person</mdl-icon>
          {{safety.team}} - {{safety.desc}}
        </mdl-list-item-primary-content>
        <mdl-list-item-secondary-action>
         <input #valid type="checkbox" class="mdl-checkbox__input"
                (click)="onSafetyClick(safety, valid.checked)"
                [checked]="safetyOverrides[safety.$key]">
       </mdl-list-item-secondary-action>
     </mdl-list-item>
   </mdl-list>

</mdl-tab-panel>
</mdl-tabs>
