<mdl-tabs mdl-ripple mdl-tab-active-index="0">
<mdl-tab-panel>
  <mdl-tab-panel-title>
    <span>Benchings</span>
  </mdl-tab-panel-title>
  <mdl-tab-panel-content>
    <mdl-list>
      <mdl-list-item *ngFor="let passer of passers | async">
        <mdl-list-item-primary-content>
          <img class="mdl-list__item-avatar" [src]="passer.team | nflIcon"
               alt="{{passer.team}}">
          <mdl-list-item-text-body>
            {{passer.name}}
          </mdl-list-item-text-body>
        </mdl-list-item-primary-content>
        <mdl-list-item-secondary-action>
         <input #valid type="checkbox" class="mdl-checkbox__input"
                (click)="onBenchingClick(passer, valid.checked)"
                [checked]="overrideVal(passer.team, 'benchings', passer.$key)">
       </mdl-list-item-secondary-action>
     </mdl-list-item>
   </mdl-list>
 </mdl-tab-panel-content>
</mdl-tab-panel>
<mdl-tab-panel mdl-tab-panel-title="Safeties">
    <mdl-list>
      <mdl-list-item *ngFor="let safety of safeties | async">
        <mdl-list-item-primary-content>
          <img class="mdl-list__item-avatar" [src]="safety.team | nflIcon"
               alt="{{safety.team}}">
          <mdl-list-item-text-body>
            {{safety.desc}}
          </mdl-list-item-text-body>
        </mdl-list-item-primary-content>
        <mdl-list-item-secondary-action>
         <input type="checkbox" class="mdl-checkbox__input"
         (click)="onSafetyClick(safety)"
         [checked]="safety.$value">
       </mdl-list-item-secondary-action>
     </mdl-list-item>
   </mdl-list>

</mdl-tab-panel>
</mdl-tabs>
