<table>
 <thead>
  <tr class=head>
   <td class=week>Week</td>
   <td *ngFor="let count of pickCounts()" class="team">
     <div>{{count.name}}</div>
     <div class=count>
       {{count.count}}
       <mdl-icon *ngIf="pickCountWarning(count)"
                 title="{{ pickCountWarning(count) }}">
         warning
       </mdl-icon>
     </div>
   </td>
   <ng-template [ngIf]="leagueRules?.dh">
     <td colspan="2" class="team">
       <div>DH</div>
       <div>
         {{dhCount()}}
         <mdl-icon *ngIf="dhCountWarning()" title="{{ dhCountWarning() }}">
           warning
         </mdl-icon>
       </div>
     </td>
   </ng-template>
  </tr>
 </thead>
 <tr *ngFor="let week of (userData|async)?.weeks; let i = index">
  <td class="week">
   <mdl-icon *ngIf="isLocked(week.id)">lock</mdl-icon>
   {{week.id}}
  </td>
  <!-- Limit to 4. When there's a DH, don't list it as normal cell -->
  <td *ngFor="let team of week.teams | slice:0:4;" class=team
      [class.selected]="team.selected" (click)="onSelect(week, team, i)">
   {{team.name}}
  </td>
  <ng-template [ngIf]="leagueRules?.dh">
   <td class="team dh" [class.selected]="week.teams[4]?.name">
    <input #dh1 type="text" placeholder="DH" class=dh
           (change)="onChange(dh1.value, dh2.value, week, i)"
           [value]="week.teams[4]?.name">
   </td>
   <td class="team dh" [class.selected]="week.teams[5]?.name">
    <input #dh2 type="text" placeholder="DH" class=dh
           (change)="onChange(dh1.value, dh2.value, week, i)"
           [value]="week.teams[5]?.name">
   </td>
  </ng-template>
 </tr>
</table>
