.selected {
  background:#b3d4fc;
}

td.week {
  text-align:right;
  width:20px;
  padding: 10px;
}

td.team {
  min-width:30px;
  text-align: center;
}

tr.head {
  font-weight: bold;
}

tr:nth-child(even) {background: #f8f8f8}

table {
  width:90%;
  margin:auto;
}

td input {
  width:30px;
  font-size:14px;
  text-align: center;
}

.warnings {
  margin: 12px;
  text-align: center;
  color: #F44336;
}
