<div style="margin:20px;">
 Name<br>
 <input class="mdl-textfield__input" type="text" #nameInput placeholder="Blaine">

</div>

<div style="margin:20px;">
 League<br>
 <select [(ngModel)]=selectedLeague>
  <option [ngValue]=league *ngFor="let league of leagues" >{{league.name}}</option>
 </select>

</div>


<div style="margin:20px;">
 Team<br>
{{selectedUser|json}}
 <select [(ngModel)]=selectedUser>
  <option [ngValue]=user *ngFor="let user of selectedLeague?.users">
   {{userAsString(user)}}
  </option>
 </select>

</div>

<div style="padding-top:20px; display:flex">
 <button style="margin:auto" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" 
 (click)="onCreate(nameInput.value)">
 Create User
</button>
</div>