<div style="margin:20px;">
 Name<br>
 <input class="mdl-textfield__input" type="text" #nameInput placeholder="Blaine">

</div>

<div style="margin:20px;">
 League<br>
 <div *ngFor="let league of leagues">
  <mdl-radio name="leagues" [(ngModel)]=selectedLeague mdl-ripple [value]=league>
   {{league.name}}
  </mdl-radio>
 </div>

</div>


<div style="margin:20px;">
 Team<br>
 <div *ngFor="let user of selectedLeague?.users">
  <mdl-radio name="teams" [(ngModel)]=selectedUser mdl-ripple [value]=user>   {{userAsString(user)}}
  </mdl-radio>
 </div>
</div>

<div style="padding-top:20px; display:flex">
 <button style="margin:auto" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" 
 (click)="onCreate(nameInput.value)">
 Create User
</button>
</div>