<div class="mdl-card score-card mdl-shadow--4dp">
  <div class="mdl-card__title mdl-color-text--white">
    <div class="score-card-bg"
         [ngStyle]="{'background-image': 'url(' + (score.$key | nflLogo) + ')'}">
    </div>
    <div class="score-card-fade-bg"></div>
    <h1 class="mdl-card__title-text">
      {{ score.$key }}
    </h1>
    <div class="mdl-card__subtitle-text mdl-color-text--white">
      {{ score.lineScore }}
    </div>
    <div class="mdl-card__subtitle-text mdl-color-text--white">
      {{ score.gameInfo.clock }}
    </div>
  </div>

  <div class="mdl-card__supporting-text mdl-color-text--grey-700">
    <div class="score-card-comp score-card-total">
      <div class="score-card-comp-desc">
        {{ projectScores && !isFinal(score) ? 'Projected ' : '' }}Total
      </div>
      <score-cell [value]="getTotal(score)"></score-cell>
    </div>
    <div *ngFor="let comp of getComponents(score)"
         class="score-card-comp">
      <div class="score-card-comp-desc">{{ comp.desc }}</div>
      <score-cell [value]="comp.value"></score-cell>
    </div>
  </div>

  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored"
       href="{{ boxScoreLink(score) }}">
      {{ boxScoreLinkText(score) }}
    </a>
  </div>
</div>
