<mdl-card mdl-shadow="4">
  <mdl-card-title class="mdl-color-text--white">
    <div class="bg"
         [ngStyle]="{'background-image': 'url(' + (score.$key | nflLogo) + ')'}">
    </div>
    <h1 mdl-card-title-text>
      {{ score.$key }}
    </h1>
    <div class="mdl-card__subtitle-text mdl-color-text--white">
      {{ score.lineScore }}
    </div>
    <div class="mdl-card__subtitle-text mdl-color-text--white">
      {{ score.gameInfo.clock }}
    </div>
  </mdl-card-title>

  <mdl-card-supporting-text class="mdl-color-text--grey-700">
    <div class="comp total">
      <div class="comp-desc">
        {{ projectScores && !isFinal(score) ? 'Projected ' : '' }}Total
      </div>
      <score-cell [value]="getTotal(score)"></score-cell>
    </div>
    <div *ngFor="let comp of getComponents(score)"
         class="comp">
      <div class="comp-desc">{{ comp.desc }}</div>
      <score-cell [value]="comp.value"></score-cell>
    </div>
  </mdl-card-supporting-text>

  <mdl-card-actions mdl-card-border>
    <a class="mdl-button mdl-button--colored"
       href="{{ boxScoreLink(score) }}">
      {{ boxScoreLinkText(score) }}
    </a>
  </mdl-card-actions>
</mdl-card>
