.sort-controls {
  text-align: center;
}

.sort-control {
  display: inline-block;
  margin: 6px;
  padding: 6px;
}

.sort-control mdl-radio {
  margin-left: 6px;
  margin-right: 6px;
}

/* This is a hack. The switch label has left:24px set for some reason, which
   makes the label text overflow the parent div. Whatever. */
.dumb-buffer {
  display: inline-block;
  width: 24px;
}

.score-card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.score-card {
  margin: 10px;
  width: 300px;
  min-height: 100px;
}

.score-card > .mdl-card__title {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.score-card-bg {
  z-index: -65535;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px;
  opacity: 0.7;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.score-card-total {
  font-weight: bold;
  font-size: 14pt;
  text-transform: uppercase;
  padding-top: 6px;
  padding-bottom: 6px;
}

.score-card-comp {
  display: flex;
}

.score-card-comp-desc {
  flex-grow: 1;
}

.score-card-comp-val {
  flex-grow: 0;
  text-align: right;
}
