<div class="sort-controls">
  <div class="sort-control mdl-shadow--2dp">
    <mdl-switch [(ngModel)]="projectScores" mdl-ripple id=projected-toggle>
      Show projected scores
      <span class="dumb-buffer">&nbsp;</span>
    </mdl-switch>
  </div>

  <div class="sort-control mdl-shadow--2dp" id=sort-radio>
    <mdl-radio value="score" [(ngModel)]="sortOrder">By score</mdl-radio>
    <mdl-radio value="team" [(ngModel)]="sortOrder">A-Z</mdl-radio>
    <mdl-radio value="active" [(ngModel)]="sortOrder">Active first</mdl-radio>
  </div>
</div>

<div class="score-card-container">
  <nfl-score-card *ngFor="let score of getScores()"
                  [score]="score"
                  [time]="selectedTime | async"
                  [projectScores]="projectScores">
  </nfl-score-card>
  <div *ngIf="!getScores().length" class="empty">
    Nothing to show
  </div>
</div>
