<div class="sort-controls">
 <div class="sort-control mdl-shadow--2dp">
  <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="proj">
   <input type="checkbox" id="proj" class="mdl-switch__input"
          [(ngModel)]="projectScores">
   <span class="mdl-switch__label">
    Show projected scores
    <span class="dumb-buffer">&nbsp;</span>
   </span>
  </label>
 </div>

 <div class="sort-control mdl-shadow--2dp">
  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect"
         for="sort-score">
   <input type="radio" id="sort-score" class="mdl-radio__button"
          value="score" [(ngModel)]="sortOrder">
   <span class="mdl-radio__label">Sort by score</span>
  </label>
  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect"
         for="sort-team">
   <input type="radio" id="sort-team" class="mdl-radio__button"
          value="team" [(ngModel)]="sortOrder">
   <span class="mdl-radio__label">Sort by team name</span>
  </label>
 </div>
</div>

<div class="score-card-container">
 <div *ngFor="let score of getScores()"
      class="mdl-card score-card mdl-shadow--4dp">
  <div class="mdl-card__title mdl-color-text--white">
   <div class="score-card-bg"
        [ngStyle]="{'background-image': 'url(http://i.nflcdn.com/static/site/7.5/img/logos/svg/teams-matte/' + score['$key'] + '.svg)'}"></div>
   <div class="score-card-fade-bg"></div>
   <h1 class="mdl-card__title-text">
    {{ score.$key }}
   </h1>
   <div class="mdl-card__subtitle-text mdl-color-text--white">
    {{ score.lineScore }}
   </div>
   <div class="mdl-card__subtitle-text mdl-color-text--white">
    {{ score.gameInfo.clock }}
   </div>
  </div>

  <div class="mdl-card__supporting-text mdl-color-text--grey-700">
   <div class="score-card-comp score-card-total">
    <div class="score-card-comp-desc">Total</div>
    <div [ngClass]="{'score-card-comp-val': true, 'mdl-color-text--red-700': score.total < 0}">
     {{ getTotal(score) }}
    </div>
   </div>
   <div *ngFor="let comp of getComponents(score)"
        class="score-card-comp">
    <div class="score-card-comp-desc">{{ comp.desc }}</div>
    <div [ngClass]="{'score-card-comp-val': true, 'mdl-color-text--red-700': comp.value < 0}">
     {{ comp.value }}
    </div>
   </div>
  </div>

  <div class="mdl-card__actions mdl-card--border">
   <a class="mdl-button mdl-button--colored"
      href="{{ boxScoreLink(score) }}">
    Box score
   </a>
  </div>
 </div>
</div>
