.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.league-title {
  font-size: 18px;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
}

.minis {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: top;
}

mdl-icon {
  font-size: 18px;
  vertical-align: middle;
}

table {
  width: 90%;
  margin: auto;
}

td {
  text-align: center;
}

.team {
  text-align: center;
  width: 3em;
}
