<div class="top">

<div class="section-title">
  Your picks <mdl-icon *ngIf="isLocked|async">lock</mdl-icon>
</div>

<div class="lineup">
  <div class="pick" *ngFor="let team of teams; let i = index">
    <div *ngIf="i < 4"> Pick {{i+1}}</div>
    <div *ngIf="i == 4"> Nathan Peterman </div>
    <div *ngIf="i == 5"> Matt Schaub </div>
    <div>
      <input type="text" class="team" name="a{{i}}"
             [(ngModel)]="team.name"
             (change)="onChange()">
    </div>
  </div>
</div>


<div class="section-title">Scoreboard</div>

<div class="sort-controls">
  <div class="sort-control mdl-shadow--2dp">
    <mdl-switch [(ngModel)]="projectScores" mdl-ripple id=projected-toggle
                (change)="updateScores()">
      Show projected scores
      <span class="dumb-buffer">&nbsp;</span>
    </mdl-switch>
  </div>
</div>

<div *ngFor="let league of leagues|async">
  <div class="league-title">{{league.name}}: {{leagueScore(league)|async}} points</div>
  <div class="minis">
    <mini-score *ngFor="let player of league.players|async"
                [name]="player.name" [scores]="player.scores"
                showTotal="true">
    </mini-score>
  </div>
</div>

</div>
