.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.league-title {
  font-size: 18px;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
}

.lineup {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.lineup .pick {
  text-align: center;
  flex: 1;
}

.lineup input {
  text-align: center;
  width: 3em;
}

.minis {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: top;
}

mini-score:nth-child(-n+3) {
  background: #e8eaf6;
}

mdl-icon {
  font-size: 18px;
  vertical-align: middle;
}
