.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.league-title {
  font-size: 18px;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
}

.lineup {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.lineup .pick {
  text-align: center;
  flex: 1;
}

.lineup input {
  text-align: center;
  width: 3em;
}

.minis {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: top;
}

mini-score:nth-child(-n+3) {
  background: #e8eaf6;
}

mdl-icon {
  font-size: 18px;
  vertical-align: middle;
}

/* Copied from nflscores. A better person would factor this out into its own
   component or something. */
.sort-controls {
  text-align: center;
}

.sort-control {
  display: inline-block;
  margin: 6px;
  padding: 6px;
}

.sort-control mdl-radio {
  margin-left: 6px;
  margin-right: 6px;
}

/* This is a hack. The switch label has left:24px set for some reason, which
   makes the label text overflow the parent div. Whatever. */
.dumb-buffer {
  display: inline-block;
  width: 24px;
}
