<div class="top">

<div class="section-title">Your picks</div>

<div class="lineup">
  <div class="pick" *ngFor="let team of teams; let index = index">
    <div *ngIf="index != 5"> Pick {{index + 1}}</div>
    <div *ngIf="index == 5"> Nathan Peterman </div>
    <div>
      <input type="text" class="team" name="a{{index}}"
             [(ngModel)]="team.name"
             (change)="onChange()">
    </div>
  </div>
</div>


<div class="section-title">Scoreboard</div>

<div *ngFor="let league of leagues|async">
  <div class="league-title">{{league.name}}: {{leagueScore(league)|async}} points</div>
  <div class="minis">
    <mini-score *ngFor="let player of league.players|async"
                [name]="player.name" [scores]="player.scores"
                showTotal="true">
    </mini-score>
  </div>
</div>

</div>
