.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.league-title {
  font-size: 18px;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
}

.minis {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: top;
}
