<mdl-tabs mdl-ripple mdl-tab-active-index="0">
  <mdl-tab-panel *ngFor="let leagueKey of getIterable(leagues)">
    <mdl-tab-panel-title>
      <span>{{leagueIdToName[leagueKey]}}</span>
    </mdl-tab-panel-title>
    <mdl-tab-panel-content>
      <mdl-card mdl-shadow="2" *ngFor="let player of leagues[leagueKey]"
      style=margin-bottom:10px>
        <mdl-card-title>
          <h2 mdl-card-title-text>{{player.name}}</h2>
          <div style=align-self:left>
            Total: {{player.total|async}}
          </div>  

        </mdl-card-title>
        <mdl-card-supporting-text>
          <mini-score *ngFor="let week of player.weeks|async"
          [name]="week.name" [scores]="week.scores">
        </mini-score>
      </mdl-card-supporting-text>
    </mdl-card>
  </mdl-tab-panel-content>
</mdl-tab-panel>
</mdl-tabs>
