<div class="top">
  <div class="league mdl-shadow--4dp"
       *ngFor="let leagueKey of getIterable(leagues)">
    <!-- TODO(aerion): Show league name here. -->
    <div class="player" *ngFor="let player of leagues[leagueKey]">
      <div class="player-name">{{player.name}}</div>
      <div class="player-minis">
        <mini-stat name="Total" [value]="player.total|async"></mini-stat>
        <mini-score *ngFor="let week of player.weeks|async"
                    [name]="week.name" [scores]="week.scores">
        </mini-score>
      </div>
    </div>
  </div>
</div>
