<mdl-tabs mdl-ripple mdl-tab-active-index="0">
  <mdl-tab-panel *ngFor="let leagueKey of getIterable(leagues)">
    <mdl-tab-panel-title>
      <span>{{leagueIdToName[leagueKey]}}</span>
    </mdl-tab-panel-title>
    <mdl-tab-panel-content>
    <div class="player" *ngFor="let player of leagues[leagueKey]">
      <div class="player-name">{{player.name}}</div>
      <div class="player-minis">
        <mini-stat name="Total" [value]="player.total|async"></mini-stat>
        <mini-score *ngFor="let week of player.weeks|async"
                    [name]="week.name" [scores]="week.scores">
        </mini-score>
      </div>
    </div>
  </mdl-tab-panel-content>
</mdl-tab-panel>
</mdl-tabs>
