.outer {
  display: inline-block;
  margin-left: 5px;
  min-width: 50px;
}

.cell {
  text-align: right;
  min-width: 35px;
  vertical-align: super;
  display: inline-block;
  font-size: 14px;
  font-family: monospace;
}